<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">
            jdbc:sqlite:C:\Users\vadim\IdeaProjects\SqliteDbase\src\org\itstep\base\dbase.db
        </property>
        <property name="hibernate.dialect">org.itstep.query.SQLiteDialect</property>
        <mapping class="entity.CommentEntity"/>
        <mapping resource="entity/CommentEntity.hbm.xml"/>
        <mapping class="entity.PassportEntity"/>
        <mapping resource="entity/PassportEntity.hbm.xml"/>
        <mapping resource="entity/ProductEntity.hbm.xml"/>
        <mapping class="entity.ProductEntity"/>
        <mapping class="entity.PurchaseEntity"/>
        <mapping resource="entity/PurchaseEntity.hbm.xml"/>
        <mapping class="entity.UserEntity"/>
        <mapping resource="entity/UserEntity.hbm.xml"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

    </session-factory>
</hibernate-configuration>